@charset "utf-8";

/* --------------------------------------------------------------------*/
/* START - Default Reven CSS Styles										*/
/* --------------------------------------------------------------------*/
*{    
    outline:none;
}

body {
	font: 100% Arial, Helvetica, sans-serif;
	background: #000000;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #fff;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align:left;
	text-decoration:none;
	color: #FFFFFF;
}
a:hover {
	color: #CCCCCC;
}
ul {
	list-style: none outside none;
}

li {
	display: block;
    float: left;
}

p {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
}

.clearfloat {
	margin:0 auto;
	clear:both;
	font-size: 1px;
	height:0px;
	width:100%;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

/* --------------------------------------------------------------------*/
/* START - Default Reven Site architecture CSS Styles										*/
/* --------------------------------------------------------------------*/
.oneColFixCtr #container {
	width: 990px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background-color: #1C1C1C;
	margin: 0px auto; /* the auto margins (in conjunction with a width) center the page */
	position: relative;
	box-shadow: 1px 1px 5px #000000;
}

/* --------------------------------------------------------------------*/
/* START BACKGROUND IMAGE - Default Reven Site architecture CSS Styles		*/
/* --------------------------------------------------------------------*/

#bg {
    left: 0;
    position: fixed;
    top: 0;
}
.bgwidth {
    width: 100%;
}


/* --------------------------------------------------------------------*/
/* START HEADER - Default Reven Site architecture CSS Styles		*/
/* --------------------------------------------------------------------*/
.oneColFixCtr header {
	background: url("../images/sprites/header_background.png") no-repeat scroll 0 0 transparent;
   	height: 90px;
    margin: 0 auto;
    position: relative;
    width: 990px;
    background-color: #333;
}

.oneColFixCtr header h1 {
	padding: 10px 0px 0px;
}

.oneColFixCtr header a {
    display: block;
    height: 70px;
    margin: 0 auto;
    width: 281px;
}

/* --------------------------------------------------------------------*/
/* START NAV - Default Reven Site architecture CSS Styles		*/
/* --------------------------------------------------------------------*/

.oneColFixCtr nav {
    background: url("../images/sprites/header_background.png") no-repeat scroll 0 -91px transparent;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    width: 990px;
}

.oneColFixCtr nav ul {
    height: auto;
    margin-left: 20px;
    overflow: auto;
    padding-bottom: 3px;
}
.oneColFixCtr nav li {

}

.oneColFixCtr nav li a{
    display: block;
    font-size: 0.70em;
    padding: 0 5px;
    width: auto;
}

/* --------------------------------------------------------------------*/
/* START HERO IMAGE - Default Reven Site architecture CSS Styles		*/
/* --------------------------------------------------------------------*/

.oneColFixCtr #heroImage {
    background: url("../images/sprites/main_image_background.png") no-repeat scroll 0 0;
    height: 425px;
    position: relative;
    width: 990px;
}

.oneColFixCtr #heroImage.bikePg{
	height:227px;
}

.cycle-slideshow .bikePg {
	height:227px;
}

#heroImage .slideControl-left a{
	background: url("../images/sprites/slideshow_home_arrows.png") no-repeat scroll -13px -100px transparent;
    height: 100px;
    left: 0;
    position: absolute;
    top: 180px;
    width: 24px;
    z-index: 99;
    display: block;
}

#heroImage .slideControl-right a{
    background: url("../images/sprites/slideshow_home_arrows.png") no-repeat scroll -60px -100px transparent;
    height: 100px;
    position: absolute;
    right: 0;
    top: 180px;
    width: 25px;
    z-index: 99;
    display: block;
}

#heroImage .bikePgCntrl a {
	top:50px;
}
#heroImage .slideControl-left a:hover {
	background: url("../images/sprites/slideshow_home_arrows.png") no-repeat scroll -13px 0px;
}
#heroImage .slideControl-right a:hover {
	background: url("../images/sprites/slideshow_home_arrows.png") no-repeat scroll -61px 0px;
}
#heroImage .mainImage {
    background-color: #000000;
    height: 425px;
    margin: 0 auto;
    width: 940px;
}
#heroImage .mainImageBikePg {
    background-color: #000000;
    height: 227px;
    margin: 0 auto;
    width: 940px;
}

#heroImage .txtCell {
    bottom: 50px;
    height: 100px;
    position: absolute;
    right: 280px;
    width: 275px;
    z-index: 100;
}

#heroImage .txtCell p {
    color: #000000;
    font-style: italic;
    line-height: 17px;
}

/* --------------------------------------------------------------------*/
/* START MAIN CONTENT - Default Reven Site architecture CSS Styles		*/
/* --------------------------------------------------------------------*/

.oneColFixCtr #mainContent {
 background: url("../images/sprites/main_content_background.png") no-repeat scroll 0 0 #1C1C1C;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 0 40px;
    width: 940px;
}

/*.oneColFixCtr #mainContent {
 background: url("../images/sprites/main_content_background.png") no-repeat scroll 0 0 #1C1C1C;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 0 40px;
    width: 940px;
}*/

#mainContent.contactBgImage {
 	background: url("../images/sprites/contact_bikes_content_background.png") no-repeat scroll 0 0 #1C1C1C;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 0 40px;
    width: 990px;
}

#mainContent > h2 {
    font-size: 20px;
    margin: 20px 0 20px 55px;
    text-align: left;
}

#mainContent > h3 {
    clear: both;
    font-size: 1em;
    margin: 20px 0 20px 55px;
    text-align: left;
}

#mainContent .framebox1 {
    background-color: #2E3336;
    float: left;
    height: 253px;
    margin: 0 0 20px 55px;
    position: relative;
    width: 382px;
}

#mainContent .framebox2 {
    background-color: #2E3336;
    float: right;
    height: 253px;
    margin: 0 55px 20px 0;
    position: relative;
    width: 382px;
}

#mainContent .framebox1 a, #mainContent .framebox2 a {
	 border: 1px solid #000000;
	 display: block;
	 height: 253px;
}
#mainContent .framebox1 a:hover, #mainContent .framebox2 a:hover {
	border: 1px solid #4F565C;
}

.framebox1 h3, .framebox2 h3, .framebox3 h3 {
	color:#fff;
	top:0px;
	left:0px;
	padding: 5px 10px;
	position: absolute;
	z-index: 2;
	font-style: italic;
	text-shadow: 2px 2px 4px #000000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

#mainContent > p {
    padding: 0 55px 20px;
}

/* sub nav rollover links cx, rd, mtb */
#mainContent.contactBgImage .indexbox1 {
    background-color: #2E3336;
    float: left;
    height: 128px;
    margin: 20px 0 0 82px;
    position: relative;
    width: 250px;
}

#mainContent .indexbox1 {
    background-color: #2E3336;
    float: left;
    height: 128px;
    margin: 20px 0 0 55px;
    position: relative;
    width: 250px;
}
#mainContent .indexbox2 {
	background-color: #2E3336;
    float: left;
    height: 128px;
    margin: 20px 37px;
    position: relative;
    width: 250px;
}

#mainContent .indexbox3 {
    background-color: #2E3336;
    clear: right;
    float: left;
    height: 128px;
    margin: 20px 0 20px 0px;
    position: relative;
    width: 250px;
}

/* --------------------------------------------------------------------*/
/* START FOOTER - Default Reven Site architecture CSS Styles		*/
/* --------------------------------------------------------------------*/


.oneColFixCtr footer {
	height: auto;
	margin: 0px auto;
	padding: 5px;
    text-align: center;
    width: 980px;
    background-color: #333333;
    position: relative;
}

.oneColFixCtr .footerLinks {
	color: #999999;
    position: relative;
    text-align: center;
    width: 520px;
    margin: 10px auto;
}

.oneColFixCtr footer ul li {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}

.oneColFixCtr footer ul li a {
   	width:auto;
   	height:15px;
    display: block;
    font-size: 11px;
	padding: 0 5px;
	
}

.oneColFixCtr .credit {
    color: #444444;
    font-size: 0.60em;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

footer .social {
    font-size: 0.60em;
   	position: relative;
    text-align: center;
    width: 70px;
    margin: 0px auto 15px;
}

.imageCenter {
    clear: both;
    height: auto;
    margin: 20px 0 10px;
    width: 940px;
}

.imageStyleLeft {
    border: 1px solid #666666;
    float: left;
     margin: 0 14px 20px 0;
    width:375px;
    height:275px;
}

.imageStyleUpperRh {
    border: 1px solid #666666;
    float: right;
    margin: 0 auto;
    width:155px;
    height:129px;
}
.imageStyleLowerRh {
    border: 1px solid #666666;
    float: right;
    height: 129px;
    margin: 15px auto;
    width: 155px;
}
.caption {
    clear: both;
    margin: 0 0 40px;
    width: 100%;
}

.frameImgLink {
	margin-bottom: 40px;
}

#geoChart {
    margin: 0 auto 40px;
    width: 940px;
}

#geoTitle {
    float: left;
    font-size: 0.95em;
    font-style: italic;
    font-weight: bold;
    margin: 0 43px 0 28px;
    width: auto;
}
#geoList {
    color: #FCFCFC;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    margin: 0 auto;
    width: 800px;
}

#geoList th, #geoList td {
	padding: 0 6px 6px;
}

.contact {
	margin-bottom: 15px;
}

/*************************************************/
/**** Begin - FORM FORMATING
 CSS - Site Wide ****/
/*************************************************/

#mainContent > #contactForm {
    margin: 0 0 40px 100px;
    width: 800px;
}

#contactForm p {
    margin: 0 0 5px;
}
.hvr:hover { 
	border-color: #ccc;
}

#scrollToCategory {
    clear: both;
    height: auto;
    margin: 10px auto;
    overflow: auto;
    width: 220px;
}

#scrollToCategory li {
    margin: 0 5px;
    text-align: center;
}

.smallPrint {
	font-size: 15px;
}
